- name: Create a vault folder
  file:
    path: "/home/devops/vault"
    state: directory     
    mode: '0755'      
  when: inventory_hostname == 'vault_vm'

- name: Generate docker-compose.yaml from template
  become: true
  template:
    src: docker-compose.yaml.j2
    dest: /home/devops/vault/docker-compose.yaml
    mode: '0644'
  when: inventory_hostname == 'vault_vm'


- name: Create a vault config folder
  become: true
  file:
    path: "/data/vault/config"
    state: directory     
    mode: '0755'      
  when: inventory_hostname == 'vault_vm'



- name: Create directory for Vault certificates
  become: true
  file:
    path: /data/vault/certs
    state: directory
    mode: '0755'
  when: inventory_hostname == 'vault_vm'

- name: Copy Vault certificates to the server
  become: true
  copy:
    content: "{{ certificate }}"
    dest: /data/vault/certs/vault.crt.pem
    mode: '0644'
  when: inventory_hostname == 'vault_vm'

- name: Copy Vault private key to the server
  become: true
  copy:
    content: "{{ private_key }}"
    dest: /data/vault/certs/vault.key.pem
    mode: '0600'
  when: inventory_hostname == 'vault_vm'

- name: Generate  from template of vault.hcl
  become: true
  template:
    src: vault.hcl.j2
    dest: /data/vault/config/vault.hcl
    mode: '0644'
  when: inventory_hostname == 'vault_vm'


- name: Run Docker Compose to start vault
  become: true
  command: 
   cmd: docker compose up -d 
   chdir: /home/devops/vault
  when: inventory_hostname == 'vault_vm'


- name: Wait for Vault API
  become: true
  uri:
    url: "https://127.0.0.1:8200/v1/sys/health"
    method: GET
    validate_certs: no
    return_content: no
    status_code:
      - 200
      - 429
      - 501
      - 503
  register: vault_health
  retries: 20
  delay: 5
  until: vault_health.status in [200, 429, 501, 503]
  when: inventory_hostname == 'vault_vm'
