services:
  nginx:
    image: nginx:latest
    container_name: nginx
    restart: unless-stopped
    networks:
      - proxy
      - internal
    ports:
      - 80:80
    volumes:
      - ./nginx/custom.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - corteza
      - frontend
      - backend
      - postgres

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    privileged: true
    user: "0:0"
    image: backend-harmonisation:latest
    mem_limit: 4g
    cpu_shares: 1024
    restart: unless-stopped
    environment:
      DATABASE_URL: "postgresql://harmonisation:harmonisation@postgres:5432/harmonisation"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ../data/.ssh/id_rsa:/home/devops/.ssh/id_rsa
      - ../data/.ssh/id_rsa.pub:/home/devops/.ssh/id_rsa.pub
      - ../data/.ssh/:/home/devops/.ssh/
      - ../data/db:/home/devops/db
      - ../data/.kube:/home/devops/.kube
      - ../data/inventory:/home/devops/inventory
      - ../data/env:/home/devops/env
      - ../data/terraform/apps:/home/devops/terraform/apps
      - ../data/terraform/infra:/home/devops/terraform/infra
      - ../data/terraform/infra:/home/devops/terraform/dmz
      - ../data/images:/images
    networks:
      - internal
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: harmonisation
      POSTGRES_PASSWORD: harmonisation
    healthcheck:
      {
        test: ["CMD-SHELL", "pg_isready -U harmonisation"],
        interval: 10s,
        timeout: 5s,
        retries: 5,
      }
    volumes:
      - ../data/postgres:/var/lib/postgresql/data
      - ../data/db:/docker-entrypoint-initdb.d
    networks:
      - internal

networks:
  proxy:
    driver: bridge
  internal: {}
