apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://{{ gogs_url }}/devops/harmonisation
    path: cert-manager
    targetRevision: {{ target_revision | default('HEAD') }}
    insecure: true
  destination:
    server: {{ destination_server | default('https://kubernetes.default.svc') }}
    namespace: {{ destination_namespace | default('cert-manager') }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
