---
apiVersion: v1
kind: Secret
metadata:
  name: repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://{{ gogs_domain_name }}/devops/harmonisation
  insecure: "true"
---
apiVersion: v1
kind: Secret
metadata:
  name: repo-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: https://{{ gogs_domain_name }}/devops/harmonisation
  password: {{ admin_password }}
  username: {{ admin_user }}